# Android
# Build your Android project with Gradle.
# Add steps that test, sign, and distribute the APK, save build artifacts, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/android

variables:
      - group: Security-Scanning-tokens

stages:
  - stage: Security
    displayName: "Security Scans - "
    dependsOn: []
    jobs:
      - template: security-scans.yml
    pool:
        vmImage: 'ubuntu-latest'

        steps:
        - task: Gradle@2
        inputs:
          workingDirectory: ''
          gradleWrapperFile: 'gradlew'
          gradleOptions: '-Xmx3072m'
          javaHomeOption: 'JDKVersion'
          jdkVersionOption: '1.8'
          jdkArchitectureOption: 'x64'
          publishJUnitResults: true
          testResultsFiles: '**/TEST-*.xml'
          tasks: 'assembleDebug test'
          displayName: gradlew assembleDebug test

trigger:
  - develop
